/* Google Fonts CDN */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Universal Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

body {
  font-family: Poppins, sans-serif;
  width: 100vw;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.div {
    /* border: 5px solid rgb(226, 6, 6); */
  margin: 0 auto;
  padding: 5.6rem 0.5rem 0 2rem;
  max-width: 90rem;
  height: 100vh;

}

/* Tree: body - div - (LEARN & SEARCH div) */
.div-2 {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  color: var(--Red, #ed1c24);
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  justify-content: space-between;
  margin-right: 2rem;
}

/* Tree: body - div -  (LEARN div) */
.div-3 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  justify-content: center;
  padding: 0.7rem;
}

/* Tree: body - div -  (SEARCH img) */
.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 2.4rem;
  margin-right: 4rem;
}

/* Tree: body - div -  (Free courses Header) */
.div-4 {
  font-feature-settings: "clig" off, "liga" off;
  justify-content: center;
  align-self: start;
  margin-top: 1.7rem;
  color: #000;
  padding: 0 1rem;
  font: 600 1.4rem/157% Poppins, sans-serif;
}

/* Tree: body - div -  (Free courses slider div) */
.div-6 {
  justify-content: center;
  display: flex;
  gap: 1.2rem;
}

/* Free Course */
/* Tree: body - div -  (Free courses slider div [5-7]) */
.div-5 {
  justify-content: center;
  align-items: start;
  overflow-x: auto;
  display: flex;
  margin-top: 1.9rem;
  flex-direction: column;
  color: #fff;
  text-align: center;
  /* border: 1px solid red; */
}

.div-7 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-8 {
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  aspect-ratio: 1.67;
  width: 16.4rem;
  padding: 0.7rem 0;
}
.img-2 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1.2rem;
  border-radius: 1.2rem;
}
.div-9 {
  position: relative;
  font-feature-settings: "clig" off, "liga" off;
  font: 600 1.6rem Poppins, sans-serif;
}
.div-10 {
  position: relative;
  font-feature-settings: "clig" off, "liga" off;
  border-radius: 0.9rem;
  backdrop-filter: blur(0.95rem);
  margin-top: 2rem;
  margin-left: 1.3rem;
  padding: 0 0.4rem;
  font: 500 0.8rem Poppins, sans-serif;
  width: 5.5rem;
  background-color: #ed1c2373;
}
/* End of Free Course */

/* Popular Courses */
.div-31 {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  max-width: 41rem;
  padding-right: 1.6rem;
  gap: 2rem;
  padding: o 2rem;
  /* border: 1px solid red; */
}

.div-32 {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font: 600 1.4rem/157% Poppins, sans-serif;
}

.div-33 {
  display: flex;
  justify-content: center;
  color: #0400bf;
  font-weight: 500;
  line-height: 2.2rem;
}

.div-34 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  text-decoration-line: underline;
}

.img-8 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  margin: auto 0;
}
/* End of Popular Courses */

.div-35 {
    /* 
    margin-top: 1rem;
  flex-direction: column;
  display: inline;
  */
 border: 1px solid #aeaeae;
 padding: 2px;
 height: 21.8rem;  
 overflow: auto;
 /* max-width: 50rem; */
 
 display: grid;
 grid-template-columns: 1fr       ;
 gap: 1rem;
 
}

.div-36 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    

  /* 
  border-radius: 5px;
  width: fit-content;
  padding: 1rem;
  margin-right: 1.5rem;
  margin: 0.5rem;
  */
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  height: 15rem;
  width: 39rem;
  position: relative;


}

/* @media (max-width: 991px) {
  .div-36 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
} */

.column-text {
    /* border: 1px solid red; */
    /* 
    display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  
  

}
.column-image {
      /* border: 1px solid red; */
      max-width: 100%;
      height: 100%;
      
      /* position: absolute;
      top: 50%;
      transform: translateY(-50%); */
}
.column {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 36%;
  margin-left: 0px;
}

/* @media (max-width: 991px) {
  .column {
    width: 100%;
  }
} */

.img-9 {
  aspect-ratio: 1.22;
  object-fit: auto;
  object-position: center;
  /* width: 142px; */
  max-width: 100%;
  height: 100%;
  /* flex-grow: 1; */
  align-self: stretch;
  margin: auto 0;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 64%;
  /* margin-left: 20px; */
}

/* @media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
} */

.div-37 {
  justify-content: center;
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  /* width: fit-content; */

  /* border: 1px solid red; */
}

.div-38 {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font: 600 16px Poppins, sans-serif;
  margin: 0 auto;
  /* text-align: center; */
}

.div-39 {
  justify-content: center;
  display: flex;
  margin-top: 12px;
  /* flex-direction: column; */
  text-align: center;
}

.div-40 {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  gap: 5px;
}

.div-41 {
  display: flex;
  gap: 4px;
  font-size: 12px;
  color: #383838;
  font-weight: 500;
  flex: 1;
  /* border: 1px solid red; */
}

.img-10 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 40px;
  border-color: rgba(240, 153, 122, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.div-42 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  margin: auto 0;
}

.div-43 {
  color: var(--Green, #0aa630);
  font-feature-settings: "clig" off, "liga" off;
  flex: 1;
  font: 600 16px Poppins, sans-serif;
  margin-right: 1rem;
  /* border: 1px solid red; */
  display: grid;
  align-items: center;
}

.div-44 {
  display: flex;
  margin-top: 2rem;
  /* gap: 20px; */
  font-size: 12px;
  color: #898989;
  font-weight: 600;
  justify-content: space-between;
  padding-right: 1rem;
  /* border: 1px solid red; */
  
}

.div-45 {
  justify-content: center;
  display: flex;
  gap: 4px;
  padding: 4px;
  /* border: 1px solid rgb(38, 17, 228); */
}

.img-11 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: start;
}

.div-46 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
}

.div-47 {
  justify-content: center;
  display: flex;
  gap: 4px;
  padding: 4px;
}

.img-12 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: start;
}

.div-48 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
}

.div-49 {
  margin-top: 24px;
}

.div-50 {
  gap: 20px;
  display: flex;
}

/* @media (max-width: 991px) {
  .div-50 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
} */

.img-13 {
  aspect-ratio: 1.22;
  object-fit: auto;
  object-position: center;
  width: 142px;
  max-width: 100%;
  align-self: stretch;
  margin: auto 0;
}

.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 64%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}

.div-51 {
  justify-content: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.div-52 {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font: 600 16px Poppins, sans-serif;
}

.div-53 {
  justify-content: center;
  display: flex;
  margin-top: 12px;
  flex-direction: column;
  text-align: center;
}

.div-54 {
  display: flex;
  width: 100%;
  gap: 20px;
}

.div-55 {
  display: flex;
  gap: 4px;
  font-size: 12px;
  color: #383838;
  font-weight: 500;
}

.img-14 {
  aspect-ratio: 0.96;
  object-fit: auto;
  object-position: center;
  width: 25px;
  border-color: rgba(240, 153, 122, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.div-56 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  margin: auto 0;
}

.div-57 {
  color: var(--Green, #0aa630);
  font-feature-settings: "clig" off, "liga" off;
  flex: 1;
  font: 600 16px Poppins, sans-serif;
}

.div-58 {
  display: flex;
  margin-top: 12px;
  gap: 20px;
  font-size: 12px;
  color: #898989;
  font-weight: 600;
  justify-content: space-between;
}

.div-59 {
  justify-content: center;
  display: flex;
  gap: 4px;
  padding: 4px;
}

.img-15 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: start;
}

.div-60 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
}

.div-61 {
  justify-content: center;
  display: flex;
  gap: 4px;
  padding: 4px;
}

.img-16 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: start;
}

.div-62 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
}

.div-63 {
  margin-top: 24px;
}

.div-64 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-64 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.img-17 {
  aspect-ratio: 1.22;
  object-fit: auto;
  object-position: center;
  width: 142px;
  max-width: 100%;
  flex-grow: 1;
  align-self: stretch;
  margin: auto 0;
}

.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 64%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}

.div-65 {
  justify-content: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.div-66 {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font: 600 16px Poppins, sans-serif;
}

.div-67 {
  justify-content: center;
  display: flex;
  margin-top: 12px;
  flex-direction: column;
  text-align: center;
}

.div-68 {
  display: flex;
  width: 100%;
  gap: 20px;
}

.div-69 {
  display: flex;
  gap: 4px;
  font-size: 12px;
  color: #383838;
  font-weight: 500;
  flex: 1;
}

.img-18 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 25px;
  border-color: rgba(240, 153, 122, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.div-70 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  margin: auto 0;
}

.div-71 {
  color: var(--Green, #0aa630);
  font-feature-settings: "clig" off, "liga" off;
  flex: 1;
  font: 600 16px Poppins, sans-serif;
}

.div-72 {
  display: flex;
  margin-top: 12px;
  gap: 20px;
  font-size: 12px;
  color: #898989;
  font-weight: 600;
  justify-content: space-between;
}

.div-73 {
  justify-content: center;
  display: flex;
  gap: 4px;
  padding: 4px;
}

.img-19 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: start;
}

.div-74 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
}

.div-75 {
  justify-content: center;
  display: flex;
  gap: 4px;
  padding: 4px;
}

.img-20 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: start;
}

.div-76 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
}

.div-77 {
  align-items: end;
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.div-78 {
  justify-content: center;
  display: flex;
  width: 251px;
  max-width: 100%;
  flex-direction: column;
}

.div-79 {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font: 600 16px Poppins, sans-serif;
}

.div-80 {
  justify-content: center;
  display: flex;
  margin-top: 12px;
  flex-direction: column;
  text-align: center;
}

.div-81 {
  display: flex;
  width: 100%;
  gap: 20px;
}

.div-82 {
  display: flex;
  gap: 4px;
  font-size: 12px;
  color: #383838;
  font-weight: 500;
  flex: 1;
}

.img-21 {
  aspect-ratio: 0.96;
  object-fit: auto;
  object-position: center;
  width: 25px;
  border-color: rgba(240, 153, 122, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.div-83 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  margin: auto 0;
}

.div-84 {
  color: var(--Green, #0aa630);
  font-feature-settings: "clig" off, "liga" off;
  flex: 1;
  font: 600 16px Poppins, sans-serif;
}

.div-85 {
  display: flex;
  margin-top: 12px;
  width: 100%;
  gap: 20px;
  font-size: 12px;
  color: #898989;
  font-weight: 600;
  justify-content: space-between;
}

.div-86 {
  justify-content: center;
  display: flex;
  gap: 4px;
  padding: 4px;
}

.img-22 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: start;
}

.div-87 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
}

.div-88 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  justify-content: center;
  align-items: start;
  padding: 4px;
}

.div-89 {
  justify-content: space-between;
  align-items: start;
  box-shadow: -4px 4px 16px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--off-white, #f9f9f9);
  align-self: start;
  z-index: 10;
  display: flex;
  gap: 4px;
  padding: 8px;
}

.div-90 {
  display: flex;
  gap: 0px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  flex-grow: 1;
  flex-basis: auto;
}

.div-91 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: var(--Black, #151515);
  flex: 1;
  padding: 0 6px;
}

.img-23 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  align-self: center;
}

.div-92 {
  font-family: Montserrat, sans-serif;
}

.div-93 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #000;
  flex: 1;
  padding: 0 6px;
}

.img-24 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  align-self: center;
}

.div-94 {
  font-family: Montserrat, sans-serif;
}

.div-95 {
  width: 110px;
  height: 44px;
  padding: 0 6px;
}

.div-96 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 0 2px;
}

.img-25 {
  aspect-ratio: 0.88;
  object-fit: auto;
  object-position: center;
  width: 24px;
}

.img-26 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  align-self: start;
}

.div-97 {
  display: flex;
  margin-top: -15px;
  gap: 12px;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

.img-27 {
  aspect-ratio: 11.11;
  object-fit: auto;
  object-position: center;
  width: 142px;
  align-self: start;
  max-width: 100%;
}

.div-98 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins, sans-serif;
  justify-content: center;
  flex: 1;
}
