/* Base Styles */
.div {
    background-color: var(--off-white, #f9f9f9);
    display: flex;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    overflow-x: hidden;
}

.div-2 {
    display: flex;
    flex-direction: column;
    fill: #b54a4e;
    overflow: hidden;
    position: relative;
    min-height: 269px;
    width: 100%;
    padding: 71px 33px 0;
}

.img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.div-3 {
    position: relative;
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding: 0 2px;
}

.div-4 {
    display: flex;
    gap: 3px;
}

.img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 40px;
    border-radius: 50%;
    align-self: start;
}

.div-5 {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.div-6 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 4px;
}

.img-3 {
    aspect-ratio: 10;
    object-fit: auto;
    object-position: center;
    width: 162px;
}

.div-7 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 9px;
    padding: 0 4px;
}

.img-4 {
    aspect-ratio: 4.76;
    object-fit: auto;
    object-position: center;
    width: 170px;
}

.img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
    align-self: start;
}

.search-container {
    position: relative;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.27);
    background-color: #fff;
    display: flex;
    margin-top: 93px;
    font-size: 16px;
    color: #979797;
    font-weight: 400;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
}

.search input[type="text"] {
    border: none;
    padding-left: 35px; /* Adjust padding to account for icon width */
    width: 100%; /* Make input fill remaining space */
}

.search-icon {
    position: absolute;
    left: 15px; /* Position icon inside the input */
    font-size: 16px; /* Adjust size of icon if necessary */
    color: #979797; /* Match icon color with placeholder text */
}

/* Optional: Add padding to the form to ensure it wraps the input nicely */
.search form {
    padding: 0;
}


.div-8 {
    position: relative;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.27);
    background-color: #fff;
    display: flex;
    margin-top: 93px;
    gap: 8px;
    font-size: 16px;
    color: #979797;
    font-weight: 400;
    white-space: nowrap;
    padding: 10px;
}

.img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 18px;
    align-self: stretch;
    margin: auto 0;
}

.div-9 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter, sans-serif;
    align-self: stretch;
    margin: auto 0;
}

.img-7 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    align-self: stretch;
}

.div-10 {
    display: flex;
    margin-top: 8px;
    width: 100%;
    flex-direction: column;
    color: #000;
    text-align: center;
    padding: 0 15px;
}

.img-8 {
    aspect-ratio: 2.33;
    object-fit: auto;
    object-position: center;
    width: 100%;
}

.div-11 {
    justify-content: center;
    align-self: start;
    display: flex;
    margin-top: 14px;
    flex-direction: column;
}

.div-12 {
    font-feature-settings: "clig" off, "liga" off;
    font: 600 16px Poppins, sans-serif;
}

.div-13 {
    font-feature-settings: "clig" off, "liga" off;
    font: 400 12px Poppins, sans-serif;
}

.div-14 {
    justify-content: center;
    align-items: start;
    overflow-x: auto;
    display: flex;
    margin-top: 4px;
    width: 100%;
    flex-direction: column;
}

.div-15 {
    width: 100%;
    padding: 0 20px;
}

.div-16 {
    gap: 20px;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 0px;
}

.div-17 {
    border-radius: 8px;
    overflow-x: auto;
    border-color: rgba(95, 156, 156, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(191, 225, 225, 0.5);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 7px 3px;
}

.div-18 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px 7px;
}

.div-19 {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.div-20 {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #000;
    white-space: nowrap;
    justify-content: center;
    padding: 0 8px;
}

.div-21 {
    display: flex;
    gap: 4px;
}

.img-9 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
    fill: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.div-22 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    margin: auto 0;
}

.div-23 {
    display: flex;
    gap: 4px;
    font-size: 10px;
}

.div-24 {
    color: #50555c;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
}

.div-25 {
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-left-width: 1px;
    display: flex;
    gap: 4px;
    color: #000;
    white-space: nowrap;
    padding: 0 4px;
}

.img-10 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 12px;
    align-self: start;
}

.div-26 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
}

.div-27 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    margin-top: 16px;
    color: #000;
    padding: 3px 10px;
    font: 12px Poppins, sans-serif;
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 20px;
}

.div-28 {
    border-radius: 8px;
    overflow-x: auto;
    border-color: rgba(95, 156, 156, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(191, 225, 225, 0.5);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 7px 3px;
}

.div-29 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px 7px;
}

.div-30 {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.div-31 {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #000;
    white-space: nowrap;
    justify-content: center;
    padding: 0 8px;
}

.div-32 {
    display: flex;
    gap: 4px;
}

.img-11 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
    fill: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.div-33 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    margin: auto 0;
}

.div-34 {
    display: flex;
    gap: 4px;
    font-size: 10px;
}

.div-35 {
    color: #50555c;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
}

.div-36 {
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-left-width: 1px;
    display: flex;
    gap: 4px;
    color: #000;
    white-space: nowrap;
    padding: 0 4px;
}

.img-12 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 12px;
    align-self: start;
}

.div-37 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
}

.div-38 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    margin-top: 16px;
    color: #000;
    padding: 3px 10px;
    font: 12px Poppins, sans-serif;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .div {
        overflow-x: hidden;
    }
    .div-4 {
        gap: 8px;
    }

    .img-2 {
        width: 30px;
    }

    .img-3 {
        width: 140px;
    }

    .img-4 {
        width: 150px;
    }

    .div-8 {
        padding: 8px;
        font-size: 14px;
    }

    .div-16 {
        flex-direction: column;
    }

    .column,
    .column-2 {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {

    .div {
            overflow-x: hidden;
        }
    .div-4 {
        gap: 6px;
    }

    .img-2 {
        width: 25px;
    }

    .img-3 {
        width: 120px;
    }

    .img-4 {
        width: 130px;
    }

    .div-8 {
        padding: 6px;
        font-size: 12px;
    }

    .div-16 {
        flex-direction: column;
        gap: 16px;
    }

    .column,
    .column-2 {
        width: 100%;
        margin-left: 0;
    }

    .img-9,
    .img-11 {
        width: 24px;
    }

    .img-10,
    .img-12 {
        width: 10px;
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .div {
            overflow-x: hidden;
        }
    .column-3 {
        width: 100%;
    }
}

.div-39 {
    justify-content: center;
    border-radius: 8px;
    overflow-x: auto;
    border-color: rgba(95, 156, 156, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(191, 225, 225, 0.5);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 11px 3px;
}

.div-40 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px 7px;
}

.div-41 {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.div-42 {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    padding: 0 8px;
}

.div-43 {
    display: flex;
    gap: 4px;
}

.img-13 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    fill: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.div-44 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
}

.div-45 {
    display: flex;
    gap: 4px;
}

.div-46 {
    color: #50555c;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font: 600 10px Poppins, sans-serif;
}

.div-47 {
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-left-width: 1px;
    display: flex;
    gap: 4px;
    padding: 0 4px;
}

.div-48 {
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
}

.div-49 {
    background-color: rgba(255, 217, 100, 1);
    width: 10px;
    height: 10px;
}

.div-50 {
    color: #000;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font: 600 10px Poppins, sans-serif;
}

.div-51 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    margin-top: 16px;
    color: #000;
    text-align: center;
    padding: 3px 10px;
    font: 600 12px Poppins, sans-serif;
}

.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 18%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-4 {
        width: 100%;
    }
}

.div-52 {
    justify-content: center;
    overflow-x: auto;
    display: flex;
    gap: 4px;
    align-self: stretch;
    margin: auto 0;
    padding: 10px;
}

.div-53 {
    width: 77px;
    height: 11px;
    margin: auto 0;
}

.div-54 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5px 12px;
}

.div-55 {
    border-color: rgba(237, 28, 36, 1);
    border-style: solid;
    border-width: 2px;
    height: 14px;
}

.div-56 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    align-self: start;
    color: #000;
    text-align: center;
    margin: 7px 0 0 20px;
    font: 600 16px Poppins, sans-serif;
}

.div-57 {
    justify-content: center;
    align-items: start;
    overflow-x: auto;
    display: flex;
    margin-top: 7px;
    width: 100%;
    flex-direction: column;
    padding: 2px 0;
}

.div-58 {
    justify-content: center;
    padding: 0 20px;
}

.div-59 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-59 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-5 {
        width: 100%;
    }
}

.div-60 {
    justify-content: center;
    border-radius: 12px;
    border: 1px solid var(--gradient-stroke, #ea696e);
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 8px 0;
}

.div-61 {
    display: flex;
    flex-direction: column;
}

.div-62 {
    justify-content: center;
    display: flex;
    padding-right: 6px;
    flex-direction: column;
}

.div-63 {
    justify-content: end;
    display: flex;
    width: 100%;
    padding-right: 8px;
    gap: 20px;
}

.div-64 {
    display: flex;
    gap: 5px;
    flex: 1;
}

.div-65 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    border-radius: 12.709px;
    background-color: #0e5da6;
    color: #fff;
    white-space: nowrap;
    padding: 8px;
    font: 700 36px Newsreader, sans-serif;
}

.div-66 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.div-67 {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font: 600 12px Poppins, sans-serif;
}

.div-68 {
    color: #50555c;
    font-feature-settings: "clig" off, "liga" off;
    font: 500 11px Poppins, sans-serif;
}

.img-14 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 28px;
    margin: auto 0;
}

.div-69 {
    justify-content: center;
    align-self: start;
    display: flex;
    margin-top: 6px;
    gap: 4px;
    font-size: 10px;
    color: #50555c;
    font-weight: 500;
}

.img-15 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 19px;
}

.div-70 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    flex: 1;
    margin: auto 0;
}

.div-71 {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    gap: 11px;
    font-size: 10px;
    color: #000;
    font-weight: 500;
    padding: 6px 10px 6px 8px;
}

.div-72 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 6.354px;
    background-color: var(--faded-gray, #d9d9d9);
    padding: 4px;
}

.div-73 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 6.354px;
    background-color: var(--faded-gray, #d9d9d9);
    white-space: nowrap;
    padding: 4px;
}

.div-74 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 6.354px;
    background-color: var(--faded-gray, #d9d9d9);
    white-space: nowrap;
    padding: 4px;
}

.div-75 {
    justify-content: center;
    display: flex;
    margin-top: 8px;
    gap: 0px;
}

.div-76 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: #50555c;
    font-weight: 500;
    flex: 1;
    margin: auto 0;
    padding: 4px 0;
}

.img-16 {
    aspect-ratio: 2.78;
    object-fit: auto;
    object-position: center;
    width: 56px;
}

.div-77 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
}

.div-78 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    color: #0aa630;
    white-space: nowrap;
    padding: 4px;
    font: 600 12px Poppins, sans-serif;
}

.column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-6 {
        width: 100%;
    }
}

.div-79 {
    border-radius: 12px;
    border: 1px solid var(--gradient-stroke, #ea696e);
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 8px 0;
}

.div-80 {
    display: flex;
    flex-direction: column;
}

.div-81 {
    justify-content: center;
    display: flex;
    padding-right: 6px;
    flex-direction: column;
}

.div-82 {
    justify-content: end;
    display: flex;
    width: 100%;
    padding-right: 8px;
    gap: 20px;
}

.div-83 {
    display: flex;
    gap: 5px;
    flex: 1;
}

.div-84 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    border-radius: 12.709px;
    background-color: #000;
    color: #ffd964;
    text-align: center;
    padding: 8px;
    font: 700 36px Newsreader, sans-serif;
}

.div-85 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.div-86 {
    color: #000;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font: 600 12px Poppins, sans-serif;
}

.div-87 {
    color: #50555c;
    font-feature-settings: "clig" off, "liga" off;
    font: 500 11px Poppins, sans-serif;
}

.div-88 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    padding: 4px 6px;
}

.div-89 {
    border-color: rgba(10, 166, 48, 1);
    border-style: solid;
    border-width: 2px;
    height: 21px;
}

.div-90 {
    justify-content: center;
    align-self: start;
    display: flex;
    margin-top: 6px;
    gap: 4px;
    font-size: 10px;
    color: #50555c;
    font-weight: 500;
    text-align: center;
}

.img-17 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 19px;
}

.div-91 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    flex: 1;
    margin: auto 0;
}

.div-92 {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    gap: 11px;
    font-size: 10px;
    color: #000;
    font-weight: 500;
    text-align: center;
    padding: 6px 10px 6px 8px;
}

.div-93 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 6.354px;
    background-color: var(--faded-gray, #d9d9d9);
    padding: 4px;
}

.div-94 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 6.354px;
    background-color: var(--faded-gray, #d9d9d9);
    white-space: nowrap;
    padding: 4px;
}

.div-95 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 6.354px;
    background-color: var(--faded-gray, #d9d9d9);
    white-space: nowrap;
    padding: 4px;
}

.div-96 {
    display: flex;
    margin-top: 8px;
    gap: 0px;
    text-align: center;
}

.div-97 {
    align-self: start;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: #50555c;
    font-weight: 500;
    flex: 1;
    padding: 6px;
}

.img-18 {
    aspect-ratio: 2.78;
    object-fit: auto;
    object-position: center;
    width: 56px;
}

.div-98 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
}

.div-99 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    color: #0aa630;
    white-space: nowrap;
    padding: 4px;
    font: 600 12px Poppins, sans-serif;
}

.column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-7 {
        width: 100%;
    }
}

.div-100 {
    justify-content: center;
    border-radius: 12px;
    border: 1px solid var(--gradient-stroke, #ea696e);
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 8px 0;
}

.div-101 {
    display: flex;
    flex-direction: column;
}

.div-102 {
    justify-content: center;
    display: flex;
    padding-right: 6px;
    flex-direction: column;
}

.div-103 {
    justify-content: end;
    display: flex;
    width: 100%;
    padding-right: 8px;
    gap: 20px;
}

.div-104 {
    display: flex;
    gap: 5px;
    flex: 1;
}

.div-105 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    border-radius: 12.709px;
    background-color: #60d669;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    padding: 8px;
    font: 700 36px Newsreader, sans-serif;
}

.div-106 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.div-107 {
    color: #000;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font: 600 12px Poppins, sans-serif;
}

.div-108 {
    color: #50555c;
    font-feature-settings: "clig" off, "liga" off;
    font: 500 10px Poppins, sans-serif;
}

.div-109 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    padding: 4px 6px;
}

.div-110 {
    border-color: rgba(10, 166, 48, 1);
    border-style: solid;
    border-width: 2px;
    height: 21px;
}

.div-111 {
    justify-content: center;
    align-self: start;
    display: flex;
    margin-top: 6px;
    gap: 4px;
    font-size: 10px;
    color: #50555c;
    font-weight: 500;
    text-align: center;
}

.div-112 {
    width: 19px;
    height: 19px;
}

.div-113 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    flex: 1;
    margin: auto 0;
}

.div-114 {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    gap: 11px;
    font-size: 10px;
    color: #000;
    font-weight: 500;
    text-align: center;
    padding: 6px 10px 6px 8px;
}

.div-115 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 6.354px;
    background-color: var(--faded-gray, #d9d9d9);
    padding: 4px;
}

.div-116 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 6.354px;
    background-color: var(--faded-gray, #d9d9d9);
    white-space: nowrap;
    padding: 4px;
}

.div-117 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 6.354px;
    background-color: var(--faded-gray, #d9d9d9);
    padding: 4px;
}

.div-118 {
    display: flex;
    margin-top: 8px;
    gap: 0px;
    text-align: center;
}

.div-119 {
    align-self: start;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 500;
    flex: 1;
    padding: 6px;
}

.div-120 {
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    color: #000;
    white-space: nowrap;
}

.div-121 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-color: rgba(240, 153, 122, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    position: relative;
    display: flex;
    aspect-ratio: 1;
    width: 20px;
    align-items: center;
    justify-content: center;
}

.div-122 {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-color: rgba(240, 153, 122, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: flex;
    aspect-ratio: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.div-123 {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-color: rgba(240, 153, 122, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: flex;
    aspect-ratio: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.div-124 {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-color: rgba(240, 153, 122, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: flex;
    aspect-ratio: 1;
    width: 100%;
    justify-content: center;
}

.div-125 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-126 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    stroke-width: 0.794px;
    border-color: rgba(240, 153, 122, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--faded-gray, #d9d9d9);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    padding: 0 6px;
}

.div-127 {
    color: #50555c;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
}

.div-128 {
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    color: #0aa630;
    white-space: nowrap;
    padding: 8px;
    font: 600 12px Poppins, sans-serif;
}

.div-129 {
    justify-content: space-between;
    box-shadow: -4px 4px 16px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--off-white, #f9f9f9);
    z-index: 10;
    display: flex;
    gap: 0px;
    padding: 8px;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    color: black;
    overflow: hidden;
    margin: 0;
}

.navbar a {
    display: flex;
    gap: 0.2em;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: auto;
    transition: all 300ms ease;
    padding: 0 1rem;
    text-decoration: none;
    color: #000;
    flex-direction: column;
    margin: 0;
}

.navbar a h3 {
    color: black;
    font-size: 12px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    margin: 0;
}

.navbar a span {
    padding-top: 9px;
    padding-bottom: 0;
    align-items: center;
}

.navbar a:hover {
    padding-top: 1.5rem;
    color: brown;
}

/* Tablet and above */
@media (min-width: 768px) {
    .navbar {
        padding: 0 2em;
    }

    .navbar a {
        padding: 0 2rem;
    }
}

/* Desktop and above */
@media (min-width: 1024px) {
    .navbar {
        padding: 0 3em;
    }

    .navbar a {
        padding: 0 3rem;
    }
}
/* End of Navbar */

.img-28 {
    aspect-ratio: 3.85;
    object-fit: auto;
    object-position: center;
    width: 42px;
}

.div-135 {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 390px;
    gap: 12px;
}

.div-136 {
    justify-content: center;
    background-color: #fff;
    align-self: start;
    display: flex;
    flex-direction: column;
}

.div-137 {
    height: 3px;
}

.div-138 {
    height: 4px;
    flex: 1;
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
    .div {
        max-width: 100%;
        margin: auto;
        overflow-x: hidden;
    }
}

/* Styles for screens smaller than 480px */
@media (max-width: 479px) {
    .div {
        max-width: 100%;
        margin: auto;
        overflow-x: hidden;
    }
}